* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    width: 100%;
    background-color: burlywood;
    border: 10px solid  burlywood; 
    box-shadow: inset 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    height: min-content;
    width: 500px;
}

.img-detail-box {
    height: min-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-detail-box img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
    filter: drop-shadow(0px 0px 5px black);
}

.img-detail-box h1 {
    font-size: 20px;
    filter: drop-shadow(0px 0px 1px burlywood);
    text-align: center;
}

@media (max-width: 540px) {
    .container {
        width: 95%;
    }

    .img-detail-box h1 {
        width: 95%;
    }
}

.links-box {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.link1 {
    height: 50px;
    width: 90%;
    border: 5px solid burlywood;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px black;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.link1 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    filter: drop-shadow(0px 0px 2px burlywood);
}

.link1 a:hover {
    text-decoration: underline;
}

.link1 i {
    font-size: 20px;
}

@media (max-width: 250px) {
    .link1 {
        padding-right: 10px;
    }

    .link1 a {
        font-size: 15px;
    }

    .link1 i {
        font-size: 18px;
    }
}